data <- daily.bike.rentals.csv
data$season <- factor(data$season, levels= c(1,2,3,4),
                      labels = c("invierno", "primavera", "verano", "otoño" ))
data$workingday <- factor(data$workingday, levels = c(0,1),
                          labels = c("festivo", "de trabajo"))
data$weathersit <- factor(data$weathersit, levels = c(1,2,3),
                          labels = c("despejado", "nublado", "lluvia o nieve"))
attach(data)

par(mfrow=c(2,2))
winter <- subset(data, season == "invierno")$cnt
spring <- subset(data, season == "primavera")$cnt
summer<- subset(data, season == "verano")$cnt
fall <- subset(data, season == "otoño")$cnt

#histogramas

hist(winter, prob= TRUE, xlab = "alquiler diario en invierno", main = "")
lines(density(winter))
abline(v= mean(winter), col = "red")
abline(v=median(winter), col ="blue" )

hist(spring, prob= TRUE, xlab = "alquiler diario en primavera", main = "")
lines(density(spring))
abline(v= mean(spring), col = "red")
abline(v=median(spring), col ="blue" )

hist(summer, prob= TRUE, xlab = "alquiler diario en verano", main = "")
lines(density(summer))
abline(v= mean(summer), col = "red")
abline(v=median(summer), col ="blue" )

hist(fall, prob= TRUE, xlab = "alquiler diario en otoño", main = "")
lines(density(fall))
abline(v= mean(fall), col = "red")
abline(v=median(fall), col ="blue" )
